:root {
	--main-font-family: 'Jost', sans-serif;

	--white: #ffffff;
	--black: #000000;
	--gray: #b2b2b2;
	--gray-light: #e2e6ee;
	--gray-dark: #585454;
	--gray-button: #B4B4B4;
	--violet: #5245dd;
	--blue: #74b7fe;
	--yellow: #FFD400;

	--background-body: #fdfdfe;
	--background-scrollbar-track: #fff;
	--background-scrollbar-thumb: #000000;

	// box-shadow
	--box-shadow-header: 0px 12px 14px -9px rgba(61, 57, 61, 0.73);
}
