<footer class="footer">
	<div class="footer__container">
		<div class="footer__logo">@@include('logo.html')</div>
		<div class="footer__wrap">
			<div class="footer__left">
				<p class="text">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus
					facere modi possimus dignissimos, aliquam nobis eaque? Voluptatem
					magnam quisquam rem.
				</p>
			</div>
			<div class="footer__right">
				<h5>Contact Information</h5>
				<ul class="footer__social">
					<li>
						<a href="mailto:example@support.com">
							<svg
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g clip-path="url(#clip0_10026_5469)">
									<path
										d="M19 5H5C3.89543 5 3 5.89543 3 7V17C3 18.1046 3.89543 19 5 19H19C20.1046 19 21 18.1046 21 17V7C21 5.89543 20.1046 5 19 5Z"
										stroke="white"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
									/>
									<path
										d="M3 7L12 13L21 7"
										stroke="white"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
									/>
								</g>
								<defs>
									<clipPath id="clip0_10026_5469">
										<rect
											width="24"
											height="24"
											fill="white"
										/>
									</clipPath>
								</defs>
							</svg>
							example@support.com</a
						>
					</li>
					<li>
						<a
							href="https://www.google.com.ua/maps/@49.2249229,28.5028871,14z?entry=ttu&g_ep=EgoyMDI1MDIyNi4xIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D"
							target="_blank"
						>
							<svg
								width="24"
								height="24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g
									clip-path="url(#clip0_10026_5472)"
									stroke="#fff"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								>
									<path d="M18 6v.01M18 13l-3.5-5a4 4 0 117 0L18 13z" />
									<path d="M10.5 4.75L9 4 3 7v13l6-3 6 3 6-3v-2M9 4v13m6-2v5" />
								</g>
								<defs>
									<clipPath id="clip0_10026_5472">
										<path
											fill="#fff"
											d="M0 0h24v24H0z"
										/>
									</clipPath>
								</defs>
							</svg>
							5 xyz st., adc, vallhalla</a
						>
					</li>
				</ul>
				<ul class="footer__privacy">
					<li>
						<a
							href="#"
							target="_blank"
							>Terms of Use</a
						>
					</li>
					<li>
						<a
							href="#"
							target="_blank"
							>Privacy Policy</a
						>
					</li>
				</ul>
			</div>
		</div>

		<div class="footer__bottom">
			<p class="text">© 2024 Created by: Martin</p>
		</div>
	</div>
</footer>

<script src="js/swiper-bundle.min.js"></script>
<script src="js/app.min.js"></script>
