.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
.page {
	flex: 1 1 auto;
}
[class*='__container'] {
	> h2 {
		margin-bottom: 40px;
		@include respond-to(tab-port-small) {
			margin-bottom: 20px;
		}
	}
}
